
  <div class="wrap">
    <header>
        <img src="Imagini/logo1.1.png" style="height: 150px; border-radius: 10px;">
       
        <nav>
            <ul>
               <li> <a href="http://localhost:6789/index">HOME</a>  </li>
               <li> <a href="books.html">BOOKS</a>  </li>
               <li> <a href="student_login.html">STUDENT_LOGIN</a>  </li>
               <li> <a href="about.html">COMMENTS</a>  </li>
            
            </ul>
        </nav>

    </header>
    <section style="background-color: rgb(220, 216, 216);">
       <!--Comentariii despre biblioteca-->
       <p><b>Acest proiect a fost realizat de Ciuclea Razvan-Constantin,Grupa 1310A.</b></p>
       <br/>
       <p><b>A fi bibliotecar înseamnă maturitate temperamentală, cunoaştere, perseverenţă, cultură, informaţie, pregătire, răbdare, amabilitate, simţ analitic, spirit critic, creativitate, capacitate de sinteză, curiozitate intelectuală, rigoare.
        Profesionistul din bibliotecă nu este un simplu angajat care difuzează cartea sau informaţia în format tipărit.</b>  </p>
        <br/>
        <p><b>Entuziasmul, profesionalitatea si stilul de naratiune ne-au tinut cu urechile extrem de atente, cu ochii plini de bucurie si admiratie, cu gandul la nemaipomenitele volume in depozit.</b></p>
        <br/>       
        <p><b>Vizita a fost tinuta in engleza.
        Un calduros multumim din partea noastra!!!</b></p>
         
       <p><body onload="Move()"></body></p> 
      <div id ="contur">
          <div id ="animatie"></div>
      </div>
    </section>
    <footer>
            <p id="data"></p>
            <p id ="browser"></p>
            <p id ="version_browser"></p>
            <body onload="afisareDetalii()"></body>

    </footer>
    </div>

