
   
  <div class="wrap">
    <header>
        <div class="logo">
        <img src="Imagini/9.png" >
        <h1 style ="color: white;">Libraria online</h1>
        </div>
       
        <nav>
            <ul>
               <li> <a href="http://localhost:6789/index">HOME</a>  </li>
               <li> <a href="books.html">BOOKS</a>  </li>
               <li> <a href="student_login.html">STUDENT_LOGIN</a>  </li>
               <li> <a href="about.html">COMMENTS</a>  </li>
            
            </ul>
        </nav>
    

    </header>
    <section>
      <div class ="img_section">
        </br></br></br>
        <div class="box">
        </br></br></br></br>
            <h1 style="text-align: center; font-size:50px">Libraria Online</h1>
            <p id ="demo" style="text-align: center; font-size:50px">
            <body onload="HomeChangeTXT()"></body>
        </br></br>
            <h1 style="text-align: center;font-size:25px">Deschis la: 08:00</h1>
            <h1 style="text-align: center;font-size:25px">Inchis la :20:00</h1>
        </div>
      </div>       
    </section>
    <footer>
            <p id="data" style="color: white;"></p>
            <button onclick="afisareDetalii()" >Click</button>

    </footer>
    </div>

