<!DOCTYPE html>
<html>

<head>
   
    <title>Managemecntul cărților dintr-o bibliotecă</title>
    <meta charset="UTF-8" />
   <link href="CSS/style.css" rel="stylesheet" type="text/css">
   <meta name="viewpoint" content="width=device-width,initial-scale=1">
   <script language="javascript" src="JavaScript/functii.js"></script>


</head>

<body>
    
    <%- body %>

</body>

</html>