  <header>
            <div class="logo">
                
                <h1 style ="color: white;padding-top: 50px; font-size: 40px;">Libraria online</h1>
                </div>
               
                <nav>
                    <ul>
                       <li> <a href="http://localhost:6789/index">HOME</a>  </li>
                       <li> <a href="http://localhost:6789/books.html">BOOKS</a>  </li>
                       <li> <a href="http://localhost:6789/student_login.html">STUDENT_LOGIN</a>  </li>
                       <li> <a href="about.html">COMMENTS</a>  </li>
                    
                    </ul>
                </nav>

        </header>
        <section>
            <div class ="std_login">

           
            </br></br></br></br></br></br>       
            <div class="box_login">
                <h1><b>User login form</b></h1>
                    </br></br>
                    <form id ="student_login" action="/verificare" method="POST">
                        <input type="text" name="username" placeholder="Username"><br/><br/>
                        <input type="password" name="password" placeholder="Password"><br/><br/>
                        <input type ="submit" value="Login"></br></br></br> 
                    </form>
           
            </div>
        </div>
        

        </section>
        <footer>
            <p id="data"></p>
            <p id ="browser"></p>
            <p id ="version_browser"></p>
            <body onload="afisareDetalii()"></body>
        </footer>

